# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3

# Environments
.env
venv/
.venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# Static & media
/staticfiles/
/media/

# Packaging
*.egg-info/
dist/
build/

# Test & coverage
.coverage
.pytest_cache/
.tox/